*.dcu
cfged/cfged.exe
cfged/cfged.log
cfged/cfged.mo
cfged/cfged.pot
cfged/cfged.po~
cfged/cfged_pl.mo
cfged/cfged_pl.po~
cfged/netconfig.cfg
cfged/netconfig.~cfg
common/ConfigFile.pas
common/uPSI_Config.pas
common/uPSI_ConfigFile.pas
components/dunit/src/dunit.exe
components/dunit/src/dunit.ini
module-sim/modsim.exe
module-sim/modsim.log
module-sim/modsim.mo
module-sim/modsim.pot
module-sim/modsim_pl.mo
monitor/monitor.exe
monitor/monitor.mo
monitor/monitor.pot
monitor/monitor_pl.mo
psimp/psimp.exe
server/aplasvr.exe
server/aplasvr.log
server/aplasvr.mo
server/aplasvr.pot
unit-tests/tests.dll
components/dunit/src/dunit-cli.exe
setup/setup.exe
unit-tests/tests.log
module/*.asm
module/*.lst
module/*.o
module/*.hex
module/*.cod
